:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  font-size: large;
  color: #ffffff;
  text-decoration: inherit;

}
/* a:hover {
  color: #a0a0b3;
*/ 
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 30px;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: #2859E3;
  cursor: pointer;
  transition: border-color 0.25s;
}
/*button:hover {
  border-color: #8EABC5;
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw0NBw0HBw0HBwcHBw0HBwcHDQ8IDQcNFREWFhURFRUYHSggGCYlGxUVITEhJSkrLi4uFx8zODMsNygtLisBCgoKDQ0NDg0NDi0ZFRktKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAOEA4QMBIgACEQEDEQH/xAAYAAEAAwEAAAAAAAAAAAAAAAADAAIEAf/EABgQAQEBAQEAAAAAAAAAAAAAAAACARIR/8QAFwEBAQEBAAAAAAAAAAAAAAAAAQACBP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/ABREdjhREd8ScxbMdzFsxFzMdyVslfJSUyVslfJWyQlMl3kmStkpC5Tk3Kcoh5Tk3KcpA5c5Py5spM+y5sn2VdlAG4ruG2VdkoO4r4XcV3EFEd3HEkRESRERJER3EkzFsxMxfMRTMXyUzCTKTmSvkrZK+SCrkrZK+SvkpDyVskuStkBB5d5Ny7wiDlzlo4c5SZ9lXZadlXZQZtlXZadlTZKZtlTZaKlTZSZ9xTcaNke4QDcV3Dbim4kNHdxxBEREkWzEzF5xF2cJOOThJxJJksyk4SZBSZJMuzJJkJXJJkrTJJlEeSvkEyV8gEPDvBuHeEgcOcNHCbCTNsK7LTsK7KTLsqbLTsqVJDLUjqWqpFUoM1SOsaakVSUz1g9xorBVhAdxTS1im4kqieOoLZhJxycJOIrThZxWcLOArThZlycLMhOzJZlJksyi5MkmVpksyCpkr5BJlfJBFkO8GyXeEgcObDRw5sJM2wpstWwpspMtSOpaqkdSQyVIqlrqQ1KDLUirGqpDWEM1YOsaKwVYUz1g6w9YKsIGiyILzhZxScLOAknCzik4aMRXnDRisYaMBWjDTKsYeMBdmSzKRJZkFyZJkrTJMkEeS7wbJd5SBy5stHLmykzbKlS07KlSkyVIqlrqQ1JDLUhvGu5BeEMt4G8arwF4QzVgaxpvA1hDPWCrD1gqxAaO+OlLyWRyaQiRh4wUHjASRh4wcYeMDRIw8YOMPGArxhpxWMNOAuzJJlJws4i5ku8kyVuQhcq7J+VdlJn2R1LTUirCmasDeNVYC8QZrwF41XgLwhlvAXjVeM94QzXgbxovA2WWesDWHsVFDR1CF5NAYNAJoPAYPAJoPAYPAJ4w8YGDwCaMPGBg8AlnCzg5NIK04vkpOL5iKmyruG3B1iQawNY0UGkGe8DeNFgshnvAXjRYLIZrwF40WCyGewWew2Qz2KjUGiBo6iC0GkMmhE8Hhng8AtENEM0NEAtEHhnjTwC0QeGeNPGgnk0gnSzoJ5JmhzVs1Em6pSbqm6ErQaJWirSBWCzXoL0gNgs16CyAWCz2z2QGwWawWQGw0aw0QojiILSaASadRPB41njTRoTTGnjWaNPGhppjTxrLGnjQWqNNGs0aaaBaZ0s0zTRJpFpylumfKWygjdK7Q+nNpJ2tHWpVCqinL0N6tVBvUFL0F6S9BekDvQXpb0F6QK9BZb0F6WR2GiUKtKVRz1EEnTToJ0s6keNPGs06adRaY08ayxpo0FqjTRrLNGmgWqaNNMk0aaBapomUyzS+UC05S3TPlO9JH6c2g9ubaRNodUrtDqklqoNUlUKqIcvQ3q1UG6IUvQ3q96G9IHehvV60VaQOtFWr1oq1BxHPUKSdJOhnSTqR50s6zzpZ0FpnTTrLOlmgmqaNNMk0WaBa5os0yTRJpFrml8plyl8sFpy3e2fLd7SP25th7c20i7Sm0PaU2kl6odUrVDqiHaoNUlUKqScqhVrtUKtIVrRVq1aKtIVrRVq1aOtIT1HPXEEzV50WL5qRp0s6z5pJ1FonSzTNOkmgWmaLNMs0SaBapok0y5S+Uk1ZS+Wy5S2WC05bvbPlu9pH7TsHbnaRttTaHtq7SS+0pVKbQ9ohaqHVOVQ6pJKodalUOqIcrR1qVqlag5Wj3Xd1XSnHXEQR3NcRJfNJmhzV81E2aSaZ81fKSaJok0z5S+UC0ZS+UzZS+Uk05TuUz5S2UE0ZbvbP070iftzoPTnSRtpXaF0rtIE2lNpTaV2iltpTaV2lNpJ3aHWpuqbqCVqm6m6pulJuuIiCIiJIiIkjua4iS+atmi9WzUTZS2UHNWykj5S2UDKWygj5TuUDKW6RN070HpOkjdJ0HpOki9K7Q+nNpJfaV2lNpXaQX2lNpXaV3Slt1Tdc3XPUk3XERBEREkRESRERJEREkTHUSdxbHESWxbERFZ1ESREQJEREk1zURJXXNRCldVREFdRESRERJEREkRESf//Z);
  }
  a:hover {
    color: #8EABC5;
  }
  button {
    background-color: #f9f9f9;
  }
}
